<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>App Component</h3>
            <hr>
             <app-servers></app-servers>
            <!--when selector is not an attribiute in the servers.componenet.ts (selector: 'app-servers') 
            -->

            <!--<div app-servers></div>
            when selector is an attribiute in the servers.componenet.ts (selector: '[app-servers]')   
            -->

            <!--<div class="app-servers"></div>
              when selector is select by class in the servers.componenet.ts (selector: '.app-servers') 
            -->
        </div>
    </div>
</div>